* {
  margin: 0;
  padding: 0;
}
@media all and (min-width: 320px) {
  header {
    width: 100%;
    height: 70px;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 60px;
      }
    }
    .menu {
      width: 40%;
      .fa-solid {
        color: white;
        margin-left: 20px;
      }
    }
  }
  .carousel-item {
    p {
      text-align: center;
      margin-top: 20px;
    }
  }
  .swiper-container {
    .swiper-slide {
      width: 150px;
      height: 300px;
      margin-top: 40px;
      .swiper {
        img {
          width: 180px;
          height: 180px;
        }
      }
    }
  }
}
@media all and (min-width: 1024px) {
}
